@font-face {
	font-family: "Myradpro";
    src: url(../font/MYRIADPRO-REGULAR.OTF);
}

@font-face {
	font-family: "Aachenb";
    src: url(../font/unicode.aachenb.ttf);
}


* {
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Myradpro', sans-serif;
	color: #010101;
}

.c_custom{
	max-width: 1640px !important;
}

.c-tag-1{
    color: #ED1E79 ;
}

.py-200{
    padding: 200px 0;
}

.py-100{
    margin-top: 100px;
}

.mt-200{
    margin-top: 200px;
}

.header-sticky {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 9999;
}

.menu ul li a{
	color: #fff !important;
	font-size:20px;
}

.hero {
    background-image: url(../img/securewalletbg.svg);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1080px;
}

.hero-left{
    background-image: url(../img/star-top-left.png);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-text{
    width: 50%;
    margin-bottom: 100px;
}

.hero-text h1{
    font-family: "aachenb";
    font-weight: 700;
    line-height: 60px;
    color: #fff;
}

.hero-text h1 span{
    font-size: 2.75rem;
}

.hero-text h2{
    font-size: 20px;
    color: #fff;
}

.wallet h2{
    font-family: "aachenb";
    font-size: 3rem;
    font-weight: 700;
}

.launchpad-bg{
	background-image: url(../img/orangebg.svg);
	background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1312.97px;
}

.feature-item{
    width: 70%;
    margin: 0 auto;
}

.feature-item h3{
    font-family: "aachenb";
    font-size: 34px;
    font-weight: 700;
}

.feature-item p{
    font-size: 20px;
}

.launchpad-right{
    background-image: url(../img/stars-launch-right.png);
    width: 100%;
    height: 678px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.hero-text h1 .launch {
    font-size: 3.5rem;
}

.call-to-act a{
    font-family: "aachenb";
    background-color: #fff;
    color: #ED1E79;
    font-weight: 700;
    border-radius: 10px;
    border: 0;
}

.call-to-act a:hover{
    background-color: #fff;
    color: #ED1E79;
}

.call-to-act a:focus{
    outline: none;
}

.call-to-act a:focus, .call-to-act a:active{
    border: none;
}

.c-act-2 a{
    color: #fff;
    background: linear-gradient(270deg, #F21C8A 0%, #600FB8 99.02%);
}

.c-act-2 a:hover{
    color: #fff;
}

.chart-right{
    width: 100%;
    height: 678px;
}

.chart-text h1{
    color: #0071bc;
}

.chart-text h1 span{
    font-size: 3rem;
    color: #ED1E79;
}

.chart-text h2{
    color: #010101;
}

.listing-right{
    width: 80%;
    height: 678px;
}

.list-text h1{
    font-size: 34px;
}

.joinlist h2{
    font-family: "aachenb";
    font-size: 1.5rem;
    font-weight: 700;
    color: #ED1E79;
}

.join {
    background: linear-gradient(270.02deg, #5E0DBC 0.03%, #F81368 47.42%, #FF7D19 99.98%);
    width: 100%;
    color: white;
    height:100px;
}

.join ul {
    background-color: transparent;
    margin-bottom: 0;
}

.join ul li{
    float: left;
    list-style-type: none;
}

.join ul li a img{
    width: 55%;
}